
<!DOCTYPE html>
<html lang="en">
  <%= partial "layouts/head" %>

  <body>
    <%= partial "layouts/nav" %>

    <div class="jumbotron">
      <div class="container">
        <h1>Shakespeare Programming Language</h1>
        <p>Where the empty vessel makes the loudest sound.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="about.html">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <%= yield %>

      <hr>
      <%= partial "layouts/footer" %>
      
    </div>

    <%= partial "layouts/javascripts" %>
  </body>
</html>
