
<!DOCTYPE html>
<html lang="en">
  <%= partial "layouts/head" %>

  <body>
    <%= partial "layouts/nav" %>

    <div class="container">
      <%= yield %>

      <hr>
      <%= partial "layouts/footer" %>
    </div>

    <%= partial "layouts/javascripts" %>
  </body>
</html>
